<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>playmaker.com</title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Playmaker.com</h1>
			<form class="form" action="/users" method="post">
				<h2>Register</h2>
				<p class="form-group">
					<label for="register-email">Email</label>
					<input class="form-control" type="text" name="email" id="register-email">
				</p>
				<p class="form-group">
					<label for="register-paswword">Password</label>
					<input class="form-control" type="password" name="password" id="register-password">
				</p>
				<p>
					<button type="submit" class="btn btn-primary">Create Account</button>
				</p>
			</form>
		</div>
	</div>
</body>

</html>